<div class="homeBody">

    <div class="homeMainContainer">
        <div class="homeHeaderContainer">
            <div class="homeHeaderText">Create Your Hunter!</div>
        </div>

        <div class="homeHunterCreatorDiv">
            <div class="homeHunterNameHeaderText">What is Your Hunter's Name?</div>
            <input type="text" placeholder="Name" ng-model="fighterName" />
            <button class="homeCreateHunterButton" ng-click="createFighter(fighterName)" ui-sref="{{goToSeePrey}}">Create Hunter</button>
        </div>
    </div>
</div>
