body {
    height: 100%;
    cursor: url('http://www.cursor.cc/cursor/628/40/cursor.png'), auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ACE4AA;
    color: #575A4B;
    font-family: 'Ravi Prakash', cursive;
    font-size: 35px;
    height: 70px;
    padding-top: 3%;
    font-weight: bolder;
    
}

.seePreyHeaderText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Ravi Prakash', cursive;
    font-size: 50px;
    font-weight: bold;
}

.seePreyPic {
    width: 250px;
    height: 250px;
}

.preyName {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Ravi Prakash', cursive;
}

.preyContainer {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    width: 30vw;
    justify-content: center;
}

.seePreySection {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.seePreyHeaderContainer {
    height: 30vh;
    width: 100%;
    position: relative;
    text-align: center;
}

.seePreyBody {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(https://uploads.disquscdn.com/images/9a218eddc93dcc0ae938674999071532f161f5de018594f91d446c917af254a8.png);
    background-position: center;
    background-size: cover;
}

#fixedHeader {
    position:fixed;
    z-index: 2;
}
